@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("./objects.css");
@import url("./globals.css");

.hidden {
  display: none;
}

.opacity_1 {
  opacity: 1;
}

.opacity_0 {
  opacity: 0;
}

summary::marker {
  color: var(--main-section-h2-color);
}

.normal {
  font-weight: normal;
}

.bold,
strong {
  font-weight: bold;
}

.dotted-border-bottom {
  border-bottom: 1px dotted var(--main-text-color);
}

.has-tooltip {
  position: relative;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  text-align: center;
  position: absolute;
  background-color: #aaa;
  color: #233;
  bottom: 150%;
  left: -50%;
  width: 190%;
  padding: 6px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  border-width: 10px;
  border-color: #aaa transparent transparent transparent;
  border-style: solid;
  left: 50%;
  padding: 0 0;
}

.italic,
em {
  font-style: italic;
}
