@font-face {
  font-family: "Corona Covid19";
  src: url("../components/styles/fonts/corona-covid19.ttf");
}

.home_content_wrapper {
  position: relative;
  flex-basis: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  scrollbar-color: var(--scrollbar-color-inner) var(--scrollbar-color-outter);
  background-image: linear-gradient(
      -7deg,
      rgb(0, 10, 53) 20%,
      rgba(11, 0, 92, 0.849) 50%,
      rgb(4, 0, 59) 65% 75%
    ),
    linear-gradient(-7deg, rgb(0, 99, 104) 50% 60%);
}

.landpage_row_1 {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(0, 109, 128);
  padding: 50px 10px 0 15px;
  width: 100%;
  min-height: 450px;
  height: 85%;
  color: white;
}

@media screen and (max-width: 510px) {
  .landpage_row_1 {
    min-height: auto;
  }
}

.row_1_container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex: 1;
}

.row_1_data {
  display: flex;
  flex-direction: column;
  width: 42%;
  height: 100%;
}

.main_header {
  border-radius: 3px;
  font-size: 100%;
  /* background-color: var(--main-title-bg); */
}

.main_title {
  margin: 0 var(--main-header-items-margin-right) 0 0;
  text-align: var(--main-header-items-text-alignment);
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--main-title-color);
  text-shadow: 1px 0 14px rgba(0, 51, 67, 0.624);
}

@media screen and (max-width: 1164px) {
  .main_title {
    text-align: center;
    font-size: 170%;
  }
}
.main_sub_title {
  display: block;
  padding: 0;
  margin: 0 var(--main-header-items-margin-right) 0 0;
  font-family: "Aquire bold";
  text-align: var(--main-header-items-text-alignment);
  color: var(--main-subtitle-color);
  text-shadow: 1px 0 14px rgba(66, 67, 0, 0.761);
}

.home_top_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.home_top_content {
  text-align: justify;
  font-size: 18px;
  line-height: 1.7em;
  text-shadow: 1px 0 40px rgba(0, 67, 53, 0.392);
  color: rgb(255, 255, 255);
}

.home_top_links_container {
  display: flex;
  margin: 0;
  font-size: 17px;
  width: fit-content;
}

.home_top_links_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home_top_link_item {
  display: flex;
  text-align: center;
  padding: 0px;
}

.home_top_link {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(135, 2, 64);
  color: white;
  box-shadow: 2px 0px 12px rgba(255, 255, 255, 0.076);
}

.home_top_link_item:not(:last-child) {
  border-right: 5px solid transparent;
}
.home_top_link:hover {
  background-color: rgb(90, 2, 43);
}

.landpage_row_2 {
  margin: 0;
  padding: 0;
  background-color: rgb(235, 235, 235);
}

.landpage_row_2_content_wrapper {
  /* padding: 10px; */
}

.covid_alerte_section {
  margin: 0;
  padding: 10px 30px 10px 30px;
  background-color: rgb(99, 0, 30);
  color: rgb(254, 217, 217);
}
.covid_alerte_title_icon {
  font-size: 1.2em;
}
.covid_alerte_title {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 200%;
  font-family: "Corona Covid19";
  text-align: center;
}

.covid_alerte_list_item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.covid_alerte_list_item_container_pos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.covid_alerte_list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  font-size: 120%;
}
.covid_alerte_item {
  position: relative;
}
.covid_alerte_item_text {
  padding: 4px;
}

.covid_more_info_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 10px;
  margin: 9px 0 0 0;
  font-size: 90%;
  text-decoration: none;
  background-color: rgb(71, 0, 28);
  background-image: linear-gradient(
      to bottom,
      rgba(44, 0, 18, 0.685) 1%,
      rgba(133, 1, 54, 0.453) 50%,
      rgba(53, 0, 21, 0.76) 99%
    ),
    linear-gradient(
      to left,
      rgb(44, 0, 18) 1%,
      rgb(133, 1, 54) 50%,
      rgb(53, 0, 21) 99%
    );
  color: rgb(180, 250, 176);
  border: 1px solid rgb(99, 1, 40);
  transition: all ease-in-out 0.08s;
}

.covid_more_info_btn_icon {
  margin-right: 9px;
}

.covid_more_info_btn:hover {
  background-color: rgb(41, 0, 16);
  background-image: linear-gradient(
      to bottom,
      rgba(34, 0, 14, 0.685) 1%,
      rgba(133, 1, 111, 0.453) 50%,
      rgba(34, 0, 13, 0.76) 99%
    ),
    linear-gradient(
      to right,
      rgb(10, 5, 0) 1%,
      rgb(22, 0, 1) 50%,
      rgb(37, 20, 2) 99%
    );
  color: rgb(255, 255, 255);
  transform: scale(103%);
}

.covid_more_info_btn:hover .covid_more_info_btn_text {
  text-decoration: underline;
}

@media screen and (max-width: 887px) {
  .landpage_row_1 {
    width: 100%;
    padding: 10px;
    height: auto;
    color: white;
    overflow: visible;
  }
  .home_top_section,
  .row_1_data {
    flex: 1;
  }

  .covid_alerte_title {
    font-size: 140%;
  }
  .covid_alerte_list_item {
    font-size: 90%;
  }

  .covid_more_info_btn {
    font-size: 70%;
  }
}

.timeline_wrapper {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgb(237, 236, 232);
  background-image: radial-gradient(
    circle at top,
    rgba(0, 146, 100, 0.781) 10%,
    rgb(42, 190, 166) 50%,
    rgb(24, 117, 255) 70%
  );
}
