/*Enxtends theme variable*/
.theme-dark {
    --border-color: #91c500;
    --symbol-color: rgb(0, 255, 34);
}

.theme-light {
    --border-color: rgb(0, 255, 34);
    --symbol-color: #91c500;
}

:root {
    --burger-wrapper-bg-color: rgb(7, 27, 23);
    --burger-wrapper-bg-color-hover: rgb(2, 15, 19);
    --burger-menu-bg-color: rgb(6, 196, 114);
    --burger-menu-bg-color-hover: rgb(196, 177, 6);
    --burger-menu-checked-bg: rgb(255, 0, 64);
}
.switch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 45px;
}
/*End Enxtending theme variables*/

/* The slider */
.slider {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    height: 15px;
    cursor: pointer;
    background-color: #ba054a;
    transition: 0.4s;
}

.slider::before {
    --size: 30px;
    content: "";
    height: var(--size);
    width: var(--size);
    transition: 0.4s;
    box-shadow: 0 0 10px rgb(28, 12, 43);
    background-color: rgb(50, 92, 44);
    background-image: url("../public/images/sunny.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round::before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgb(0, 136, 0);
    border: 1px solid rgb(61, 33, 14);
}

input:focus + .slider {
    box-shadow: 0 0 1px #005ca7;
}

input:checked + .slider::before {
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background-color: rgb(1, 13, 51);
    background-image: url("../public/images/moon_12.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/**
* The burger menu icon in small screen max-width <= 675px
* this icon is used to open and close the table of content 
* in small screen.
* The oppening and closing of the table of content is handled
* by javascript (see the file body.js)**/

/*{*/
.burger-wrapper {
    opacity: 0;
    transform: translate(-100%);
    transition-property: opacity, transform;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;

    position: absolute;
    cursor: pointer;
    /**--nav-bar-height declared in "./body.css"**/
    top: var(--nav-bar-height);
    z-index: 101;
    background-color: var(--burger-wrapper-bg-color);
    padding: 8px 25px 15px 15px;
    border-radius: 0 0 60%;
}

.burger-menu {
    position: relative;
    top: 2px;
    display: block;
    width: 40px;
}

.burger-menu::before,
.burger-menu::after {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--burger-menu-bg-color);
    border-radius: 3px;
    transition: transform ease 0.2s;
}

.burger-menu::before {
    box-shadow: 0 10px 0 var(--burger-menu-bg-color);
    margin-bottom: 16px;
}

/*Colors when the table of content is oppened*/
.burger-check:checked + .burger-menu::before {
    background-color: var(--burger-menu-checked-bg);
    box-shadow: 0 0 0 var(--burger-menu-bg-color);
    transform: translateY(10px) rotate(45deg);
}
.burger-check:checked + .burger-menu::after {
    background-color: var(--burger-menu-checked-bg);
    transform: translateY(-10px) rotate(495deg);
}

/* Hover effects */
.burger-wrapper:hover {
    background-color: var(--burger-wrapper-bg-color-hover);
}

/*Set the background color when the table of content is not oppened*/
.burger-wrapper:hover > .burger-check:not(:checked) + .burger-menu::before,
.burger-wrapper:hover > .burger-check:not(:checked) + .burger-menu::after {
    background-color: var(--burger-menu-bg-color-hover);
}
.burger-wrapper:hover > .burger-check:not(:checked) + .burger-menu::before {
    box-shadow: 0 10px 0 var(--burger-menu-bg-color-hover);
}
/*End burger icon in small screen max-width <= 675*/
/*}*/

/*Begin The to top object button: go to top button*/
/*{*/
.to-top {
    color: var(--symbol-color);
    padding-top: 1.8em;
    display: inline-block;
    /* or block */
    position: fixed;
    border-color: var(--border-color);
    text-decoration: none;
    transition: all 0.3s ease-out;
    bottom: 4%;
    right: 2%;
}

.to-top::before {
    content: "▲";
    position: absolute;
    top: 0;
    right: 50%;
    margin-left: -0.7em;
    border: solid 0.13em white;
    border-radius: 10em;
    width: 2em;
    height: 2em;
    line-height: 1.8em;
    border-color: inherit;
    transition: transform 0.5s ease-in;
    text-align: center;
    font-size: 90%;
}

.to-top:hover {
    color: pink;
    border-color: pink;
}

.to-top:hover::before {
    transform: rotate(360deg);
    border-color: red;
}
/*End The to top object*/
/*}*/
